In [1]:
import pandas as pd

In [2]:
#Tristan
fer_df = pd.DataFrame(pd.read_csv("resources/fer_cleaned.csv"))
fer_df = fer_df[(fer_df['Time'] >= 1995) & (fer_df['Time'] <= 2018)]
fer_df = fer_df.rename(columns={"Indicator_Fer": "Indicator"})
fer_df.head()

  Country  Indicator Subject    Measure  Time  Value
5     KOR  FERTILITY     TOT  CHD_WOMAN  1995    1.6
6     KOR  FERTILITY     TOT  CHD_WOMAN  1996    1.6
7     KOR  FERTILITY     TOT  CHD_WOMAN  1997    1.5
8     KOR  FERTILITY     TOT  CHD_WOMAN  1998    1.5
9     KOR  FERTILITY     TOT  CHD_WOMAN  1999    1.4

In [3]:
#Catherine
income_df = pd.DataFrame(pd.read_csv("resources/income_cleaned.csv"))
income_df = income_df.rename(columns={"LOCATION": "Country", "INDICATOR": "Indicator", "SUBJECT": "Subject", "MEASURE": "Measure", "TIME":"Time"})
income_df

   Country Indicator   Subject  Measure  Time         Value
0      KOR      HHDI       NET   AGRWTH  1995      5.444250
1      KOR      HHDI       NET   AGRWTH  1996      6.077502
2      KOR      HHDI       NET   AGRWTH  1997      1.744102
3      KOR      HHDI       NET   AGRWTH  1998     -2.611125
4      KOR      HHDI       NET   AGRWTH  1999      2.407781
5      KOR      HHDI       NET   AGRWTH  2000      0.791674
6      KOR      HHDI       NET   AGRWTH  2001      2.790019
7      KOR      HHDI       NET   AGRWTH  2002      4.563780
8      KOR      HHDI       NET   AGRWTH  2003      2.265849
9      KOR      HHDI       NET   AGRWTH  2004      4.689429
10     KOR      HHDI       NET   AGRWTH  2005      2.320798
11     KOR      HHDI       NET   AGRWTH  2006      3.774820
12     KOR      HHDI       NET   AGRWTH  2007      4.712786
13     KOR      HHDI       NET   AGRWTH  2008      2.175467
14     KOR      HHDI       NET   AGRWTH  2009      1.640529
15     KOR      HHDI       NET   AGRWTH  2010      4.192660
16     KOR      HHDI       NET   AGRWTH  2011      2.256896
17     KOR      HHDI       NET   AGRWTH  2012      2.483774
18     KOR      HHDI       NET   AGRWTH  2013      4.053958
19     KOR      HHDI       NET   AGRWTH  2014      3.559237
20     KOR      HHDI       NET   AGRWTH  2015      5.708393
21     KOR      HHDI       NET   AGRWTH  2016      1.717186
22     KOR      HHDI       NET   AGRWTH  2017      1.816823
23     KOR      HHDI       NET   AGRWTH  2018      3.386588
24     KOR      HHDI  GROSSADJ  USD_CAP  1995  10662.159860
25     KOR      HHDI  GROSSADJ  USD_CAP  1996  11472.262700
26     KOR      HHDI  GROSSADJ  USD_CAP  1997  11771.410640
27     KOR      HHDI  GROSSADJ  USD_CAP  1998  11658.736040
28     KOR      HHDI  GROSSADJ  USD_CAP  1999  11982.712370
29     KOR      HHDI  GROSSADJ  USD_CAP  2000  12498.033060
30     KOR      HHDI  GROSSADJ  USD_CAP  2001  13026.502030
31     KOR      HHDI  GROSSADJ  USD_CAP  2002  13878.621970
32     KOR      HHDI  GROSSADJ  USD_CAP  2003  14252.564150
33     KOR      HHDI  GROSSADJ  USD_CAP  2004  15236.454330
34     KOR      HHDI  GROSSADJ  USD_CAP  2005  15814.996720
35     KOR      HHDI  GROSSADJ  USD_CAP  2006  16648.632780
36     KOR      HHDI  GROSSADJ  USD_CAP  2007  17801.689290
37     KOR      HHDI  GROSSADJ  USD_CAP  2008  18514.726670
38     KOR      HHDI  GROSSADJ  USD_CAP  2009  18664.517530
39     KOR      HHDI  GROSSADJ  USD_CAP  2010  19684.537440
40     KOR      HHDI  GROSSADJ  USD_CAP  2011  20438.864740
41     KOR      HHDI  GROSSADJ  USD_CAP  2012  21244.041250
42     KOR      HHDI  GROSSADJ  USD_CAP  2013  21573.319910
43     KOR      HHDI  GROSSADJ  USD_CAP  2014  21915.955780
44     KOR      HHDI  GROSSADJ  USD_CAP  2015  23958.296830
45     KOR      HHDI  GROSSADJ  USD_CAP  2016  24190.597730
46     KOR      HHDI  GROSSADJ  USD_CAP  2017  24484.535040
47     KOR      HHDI  GROSSADJ  USD_CAP  2018  25845.035380

In [4]:
#Akadia
houseprice_df = pd.DataFrame(pd.read_csv("resources/kor_houseprice_clean.csv"))
houseprice_df = houseprice_df.drop(['Unnamed: 0'], axis = 1)
houseprice_df = houseprice_df.rename(columns={"LOCATION": "Country", "INDICATOR": "Indicator", "SUBJECT": "Subject", "MEASURE": "Measure", "TIME":"Time"})
houseprice_df

   Country  Indicator  Subject  Measure  Time       Value
0      KOR  HOUSECOST  NOMINAL  IDX2015  1995   55.294838
1      KOR  HOUSECOST  NOMINAL  IDX2015  1996   55.685899
2      KOR  HOUSECOST  NOMINAL  IDX2015  1997   57.336133
3      KOR  HOUSECOST  NOMINAL  IDX2015  1998   52.056922
4      KOR  HOUSECOST  NOMINAL  IDX2015  1999   51.392163
5      KOR  HOUSECOST  NOMINAL  IDX2015  2000   52.330666
6      KOR  HOUSECOST  NOMINAL  IDX2015  2001   54.395401
7      KOR  HOUSECOST  NOMINAL  IDX2015  2002   63.444392
8      KOR  HOUSECOST  NOMINAL  IDX2015  2003   69.177241
9      KOR  HOUSECOST  NOMINAL  IDX2015  2004   69.649144
10     KOR  HOUSECOST  NOMINAL  IDX2015  2005   70.378616
11     KOR  HOUSECOST  NOMINAL  IDX2015  2006   75.077380
12     KOR  HOUSECOST  NOMINAL  IDX2015  2007   82.579039
13     KOR  HOUSECOST  NOMINAL  IDX2015  2008   88.433306
14     KOR  HOUSECOST  NOMINAL  IDX2015  2009   89.217996
15     KOR  HOUSECOST  NOMINAL  IDX2015  2010   91.179465
16     KOR  HOUSECOST  NOMINAL  IDX2015  2011   95.641150
17     KOR  HOUSECOST  NOMINAL  IDX2015  2012   96.818437
18     KOR  HOUSECOST  NOMINAL  IDX2015  2013   95.769568
19     KOR  HOUSECOST  NOMINAL  IDX2015  2014   97.271571
20     KOR  HOUSECOST  NOMINAL  IDX2015  2015  100.000000
21     KOR  HOUSECOST  NOMINAL  IDX2015  2016  101.621556
22     KOR  HOUSECOST  NOMINAL  IDX2015  2017  102.853553
23     KOR  HOUSECOST  NOMINAL  IDX2015  2018  104.275264

In [5]:
#Sy
edu_df = pd.DataFrame(pd.read_csv("sy/kor_edu_sy.csv"))
edu_df = edu_df.drop(['Unnamed: 0'], axis = 1)
edu_df = edu_df.rename(columns={"Indicator_edu": "Indicator", "Subject_edu": "Subject", "Measure_edu": "Measure"})
edu_df

   Country Indicator Subject Measure  Time      Value
0      KOR    EDUTRY   25_34  PC_AGE  1995  28.806385
1      KOR    EDUTRY   25_34  PC_AGE  1997  30.871248
2      KOR    EDUTRY   25_34  PC_AGE  1998  33.831520
3      KOR    EDUTRY   25_34  PC_AGE  1999  34.837105
4      KOR    EDUTRY   25_34  PC_AGE  2000  36.812420
5      KOR    EDUTRY   25_34  PC_AGE  2001  38.955528
6      KOR    EDUTRY   25_34  PC_AGE  2002  41.017273
7      KOR    EDUTRY   25_34  PC_AGE  2003  46.514172
8      KOR    EDUTRY   25_34  PC_AGE  2004  49.056168
9      KOR    EDUTRY   25_34  PC_AGE  2005  50.858059
10     KOR    EDUTRY   25_34  PC_AGE  2006  52.953865
11     KOR    EDUTRY   25_34  PC_AGE  2007  55.490356
12     KOR    EDUTRY   25_34  PC_AGE  2008  57.842369
13     KOR    EDUTRY   25_34  PC_AGE  2009  60.575958
14     KOR    EDUTRY   25_34  PC_AGE  2010  61.449047
15     KOR    EDUTRY   25_34  PC_AGE  2011  63.734528
16     KOR    EDUTRY   25_34  PC_AGE  2012  65.603264
17     KOR    EDUTRY   25_34  PC_AGE  2013  67.088554
18     KOR    EDUTRY   25_34  PC_AGE  2014  67.665947
19     KOR    EDUTRY   25_34  PC_AGE  2015  68.861946
20     KOR    EDUTRY   25_34  PC_AGE  2016  69.851555
21     KOR    EDUTRY   25_34  PC_AGE  2017  69.752068
22     KOR    EDUTRY   25_34  PC_AGE  2018  69.574219

In [6]:
#Billye
debt_df = pd.DataFrame(pd.read_csv("resources/kor_debt.csv"))
debt_df = debt_df.drop(['Unnamed: 0'], axis = 1)
debt_df = debt_df.rename(columns={"LOCATION": "Country", "INDICATOR": "Indicator", "SUBJECT": "Subject", "MEASURE": "Measure", "TIME":"Time"})
debt_df

   Country Indicator Subject Measure  Time     Value
0      KOR    HHDEBT     TOT  PC_NDI  2008  138.4568
1      KOR    HHDEBT     TOT  PC_NDI  2009  143.0346
2      KOR    HHDEBT     TOT  PC_NDI  2010  147.5311
3      KOR    HHDEBT     TOT  PC_NDI  2011  152.9024
4      KOR    HHDEBT     TOT  PC_NDI  2012  153.9483
5      KOR    HHDEBT     TOT  PC_NDI  2013  154.8800
6      KOR    HHDEBT     TOT  PC_NDI  2014  158.0058
7      KOR    HHDEBT     TOT  PC_NDI  2015  162.2843
8      KOR    HHDEBT     TOT  PC_NDI  2016  174.5221
9      KOR    HHDEBT     TOT  PC_NDI  2017  181.8061
10     KOR    HHDEBT     TOT  PC_NDI  2018  184.9868

In [7]:
#Concat Time, YAYYYYYY!!!!
frames = [fer_df, income_df, houseprice_df, edu_df, debt_df]

In [9]:
result = pd.concat(frames)

In [13]:
#result = result.reset_index()
result = result.set_index("Country")

In [14]:
result

         Indicator Subject    Measure  Time     Value
Country
KOR      FERTILITY     TOT  CHD_WOMAN  1995    1.6000
KOR      FERTILITY     TOT  CHD_WOMAN  1996    1.6000
KOR      FERTILITY     TOT  CHD_WOMAN  1997    1.5000
KOR      FERTILITY     TOT  CHD_WOMAN  1998    1.5000
KOR      FERTILITY     TOT  CHD_WOMAN  1999    1.4000
...            ...     ...        ...   ...       ...
KOR         HHDEBT     TOT     PC_NDI  2014  158.0058
KOR         HHDEBT     TOT     PC_NDI  2015  162.2843
KOR         HHDEBT     TOT     PC_NDI  2016  174.5221
KOR         HHDEBT     TOT     PC_NDI  2017  181.8061
KOR         HHDEBT     TOT     PC_NDI  2018  184.9868

[130 rows x 5 columns]

In [15]:
result.to_csv("resources/database.csv")