In [13]:
import pandas as pd

In [14]:
fer = pd.read_csv("Resources/fertility.csv")

In [15]:
fer_df = pd.DataFrame(fer)
fer_df

     LOCATION  INDICATOR SUBJECT    MEASURE FREQUENCY  TIME  Value  Flag Codes
0         AUS  FERTILITY     TOT  CHD_WOMAN         A  1970    2.9         NaN
1         AUS  FERTILITY     TOT  CHD_WOMAN         A  1971    2.9         NaN
2         AUS  FERTILITY     TOT  CHD_WOMAN         A  1972    2.7         NaN
3         AUS  FERTILITY     TOT  CHD_WOMAN         A  1973    2.5         NaN
4         AUS  FERTILITY     TOT  CHD_WOMAN         A  1974    2.3         NaN
...       ...        ...     ...        ...       ...   ...    ...         ...
2620       EU  FERTILITY     TOT  CHD_WOMAN         A  2014    1.5         NaN
2621       EU  FERTILITY     TOT  CHD_WOMAN         A  2015    1.5         NaN
2622       EU  FERTILITY     TOT  CHD_WOMAN         A  2016    1.6         NaN
2623       EU  FERTILITY     TOT  CHD_WOMAN         A  2017    1.5         NaN
2624       EU  FERTILITY     TOT  CHD_WOMAN         A  2018    1.5         NaN

[2625 rows x 8 columns]

In [16]:
fer_kor_df = fer_df.loc[fer_df["LOCATION"]=="KOR"]

In [17]:
fer_kor_df=fer_kor_df.drop(['FREQUENCY', 'Flag Codes'], axis = 1)

In [18]:
fer_kor_df = fer_kor_df.rename(columns={"LOCATION": "Country", "INDICATOR": "Indicator_Fer", "SUBJECT": "Subject", "MEASURE": "Measure", "TIME":"Time"})

In [19]:
fer_kor_df

    Country Indicator_Fer Subject    Measure  Time  Value
737     KOR     FERTILITY     TOT  CHD_WOMAN  1970    4.5
738     KOR     FERTILITY     TOT  CHD_WOMAN  1971    4.5
739     KOR     FERTILITY     TOT  CHD_WOMAN  1972    4.1
740     KOR     FERTILITY     TOT  CHD_WOMAN  1973    4.1
741     KOR     FERTILITY     TOT  CHD_WOMAN  1974    3.8
742     KOR     FERTILITY     TOT  CHD_WOMAN  1975    3.4
743     KOR     FERTILITY     TOT  CHD_WOMAN  1976    3.0
744     KOR     FERTILITY     TOT  CHD_WOMAN  1977    3.0
745     KOR     FERTILITY     TOT  CHD_WOMAN  1978    2.6
746     KOR     FERTILITY     TOT  CHD_WOMAN  1979    2.9
747     KOR     FERTILITY     TOT  CHD_WOMAN  1980    2.8
748     KOR     FERTILITY     TOT  CHD_WOMAN  1981    2.6
749     KOR     FERTILITY     TOT  CHD_WOMAN  1982    2.4
750     KOR     FERTILITY     TOT  CHD_WOMAN  1983    2.1
751     KOR     FERTILITY     TOT  CHD_WOMAN  1984    1.7
752     KOR     FERTILITY     TOT  CHD_WOMAN  1985    1.7
753     KOR     FERTILITY     TOT  CHD_WOMAN  1986    1.6
754     KOR     FERTILITY     TOT  CHD_WOMAN  1987    1.5
755     KOR     FERTILITY     TOT  CHD_WOMAN  1988    1.6
756     KOR     FERTILITY     TOT  CHD_WOMAN  1989    1.6
757     KOR     FERTILITY     TOT  CHD_WOMAN  1990    1.6
758     KOR     FERTILITY     TOT  CHD_WOMAN  1991    1.7
759     KOR     FERTILITY     TOT  CHD_WOMAN  1992    1.8
760     KOR     FERTILITY     TOT  CHD_WOMAN  1993    1.7
761     KOR     FERTILITY     TOT  CHD_WOMAN  1994    1.7
762     KOR     FERTILITY     TOT  CHD_WOMAN  1995    1.6
763     KOR     FERTILITY     TOT  CHD_WOMAN  1996    1.6
764     KOR     FERTILITY     TOT  CHD_WOMAN  1997    1.5
765     KOR     FERTILITY     TOT  CHD_WOMAN  1998    1.5
766     KOR     FERTILITY     TOT  CHD_WOMAN  1999    1.4
767     KOR     FERTILITY     TOT  CHD_WOMAN  2000    1.5
768     KOR     FERTILITY     TOT  CHD_WOMAN  2001    1.3
769     KOR     FERTILITY     TOT  CHD_WOMAN  2002    1.2
770     KOR     FERTILITY     TOT  CHD_WOMAN  2003    1.2
771     KOR     FERTILITY     TOT  CHD_WOMAN  2004    1.2
772     KOR     FERTILITY     TOT  CHD_WOMAN  2005    1.1
773     KOR     FERTILITY     TOT  CHD_WOMAN  2006    1.1
774     KOR     FERTILITY     TOT  CHD_WOMAN  2007    1.3
775     KOR     FERTILITY     TOT  CHD_WOMAN  2008    1.2
776     KOR     FERTILITY     TOT  CHD_WOMAN  2009    1.1
777     KOR     FERTILITY     TOT  CHD_WOMAN  2010    1.2
778     KOR     FERTILITY     TOT  CHD_WOMAN  2011    1.2
779     KOR     FERTILITY     TOT  CHD_WOMAN  2012    1.3
780     KOR     FERTILITY     TOT  CHD_WOMAN  2013    1.2
781     KOR     FERTILITY     TOT  CHD_WOMAN  2014    1.2
782     KOR     FERTILITY     TOT  CHD_WOMAN  2015    1.2
783     KOR     FERTILITY     TOT  CHD_WOMAN  2016    1.2
784     KOR     FERTILITY     TOT  CHD_WOMAN  2017    1.1
785     KOR     FERTILITY     TOT  CHD_WOMAN  2018    1.0
786     KOR     FERTILITY     TOT  CHD_WOMAN  2019    0.9

In [20]:
fer_kor_df = fer_kor_df[(fer_kor_df['Time'] >= 1990) & (fer_kor_df['Time'] <= 2018)]
fer_kor_df

    Country Indicator_Fer Subject    Measure  Time  Value
757     KOR     FERTILITY     TOT  CHD_WOMAN  1990    1.6
758     KOR     FERTILITY     TOT  CHD_WOMAN  1991    1.7
759     KOR     FERTILITY     TOT  CHD_WOMAN  1992    1.8
760     KOR     FERTILITY     TOT  CHD_WOMAN  1993    1.7
761     KOR     FERTILITY     TOT  CHD_WOMAN  1994    1.7
762     KOR     FERTILITY     TOT  CHD_WOMAN  1995    1.6
763     KOR     FERTILITY     TOT  CHD_WOMAN  1996    1.6
764     KOR     FERTILITY     TOT  CHD_WOMAN  1997    1.5
765     KOR     FERTILITY     TOT  CHD_WOMAN  1998    1.5
766     KOR     FERTILITY     TOT  CHD_WOMAN  1999    1.4
767     KOR     FERTILITY     TOT  CHD_WOMAN  2000    1.5
768     KOR     FERTILITY     TOT  CHD_WOMAN  2001    1.3
769     KOR     FERTILITY     TOT  CHD_WOMAN  2002    1.2
770     KOR     FERTILITY     TOT  CHD_WOMAN  2003    1.2
771     KOR     FERTILITY     TOT  CHD_WOMAN  2004    1.2
772     KOR     FERTILITY     TOT  CHD_WOMAN  2005    1.1
773     KOR     FERTILITY     TOT  CHD_WOMAN  2006    1.1
774     KOR     FERTILITY     TOT  CHD_WOMAN  2007    1.3
775     KOR     FERTILITY     TOT  CHD_WOMAN  2008    1.2
776     KOR     FERTILITY     TOT  CHD_WOMAN  2009    1.1
777     KOR     FERTILITY     TOT  CHD_WOMAN  2010    1.2
778     KOR     FERTILITY     TOT  CHD_WOMAN  2011    1.2
779     KOR     FERTILITY     TOT  CHD_WOMAN  2012    1.3
780     KOR     FERTILITY     TOT  CHD_WOMAN  2013    1.2
781     KOR     FERTILITY     TOT  CHD_WOMAN  2014    1.2
782     KOR     FERTILITY     TOT  CHD_WOMAN  2015    1.2
783     KOR     FERTILITY     TOT  CHD_WOMAN  2016    1.2
784     KOR     FERTILITY     TOT  CHD_WOMAN  2017    1.1
785     KOR     FERTILITY     TOT  CHD_WOMAN  2018    1.0

In [23]:
fer_kor_df.to_csv(r'resources/fer_cleaned.csv',index=False)